@mixin center-vertical {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}


@mixin bg-image-centered {
  background-position: 50% 50%;
  background-size: cover;
}

@mixin keep-ratio($ratio) {

  $aspect-h-factor: 1 / $ratio;
  $ratio-padding-percent : 100 * $aspect-h-factor;
  line-height: 1;
  display: block;
  position: relative;

  &:before {
    line-height: 1;
    padding-top: percentage($aspect-h-factor);
    content: '.';
    font-size: 0;
    display: block;
  }
}

@mixin stack {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


@mixin center-vector-logo {

  .flexbox & {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img, svg {
      margin: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }

  :not(.flexbox) {
    img, svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: 10rem;
      max-width: 10rem;
    }
    @media #{$medium-up} {
      img {
        max-width: 10rem;
      }
    }
    @media #{$large-up} {
      img {
        max-width:10rem;
      }
    }
  }
}